# Configuration file for database manager

### The following settings are required for proper functionality
# Define the path were the database should be stored here
database_path:		'/home/pi/git/legendary-invention/html/cgi/betbase.xml'

# Define the path to the txt-file with all game infos here
gameslist_path:		'/home/pi/git/legendary-invention/html/cgi/gameslist.txt'

# Defines the path were the users folder should be created
user_path:		    '/home/pi/git/legendary-invention/html/users'

# Defines the path to the htpassword file
htpassword_file:	'/home/pi/legendary.pass'

### The following settings are optional (uncomment them if necessary)
# This setting supresses all informational output from the code (use if you see unexpected messages appearing in your html files)
quiet:			False

# This setting defines the time to wait for getting a lock on the database (should not be required as the standard wait time is already quite long (5 seconds)
; lock_timeout:		10

# Time format in gameslist. Used to convert the string representing the time (see documentation on python's time module for explanatin of the symbols)
; time_format:		'%m-%dT%H:%M'

# Map all elements and attributes to names used in the code. It is a dictionary where each key is an element or attribute from the input, the respective value is the name as used in the code
# Use this if the headings in gameslist file are changed
; names: {'points': 'points', 'rank': 'rank', 'tips': 'tips', 'tipps': 'tips', 'date': 'date', 'team1': 'team1', 'team2': 'team2', 'name1': 'name1', 'name2': 'name2', 'score1': 'score1', 'score2': 'score2'}
